<template>
        <div>
              
            <div class="form-group" v-bind:class="{ 'has-error':be_error.length }">
                            <label for="password" class="col-md-4 control-label">Passwort</label>

                            <div class="col-md-6">
                              <input id="password" v-model="password" ref="password" type="password" class="form-control" name="password" required>
                              <p v-if="pw_errors.length">
                                <b>Hinweis:</b>
                                <ul style="none">
                                  <li v-for="pw_error in pw_errors">{{ pw_error }}</li>
                                </ul>
                              </p>
                              <span v-if="be_error.length" class="help-block">
                                    <strong>{{ be_error }}</strong>
                              </span>

                            </div>
                              
                </div>

                <div class="form-group">
                    <label for="password_confirm" class="col-md-4 control-label">Passwort bestätigen</label>

                    <div class="col-md-6">
                        <input id="password_confirm" v-model="password_confirm" ref="password_confirm" type="password" class="form-control" name="password_confirmation" required>
                             <p v-if="pw_c_errors.length">
                                <b>Hinweis:</b>
                                <ul style="none">
                                  <li v-for="pw_c_error in pw_c_errors">{{ pw_c_error }}</li>
                                </ul>
                              </p>
                            <p v-show="pw_ok">
                               OK&nbsp;<span class="glyphicon glyphicon-ok"></span>
                            </p> 

                   </div>
                </div>

        </div>
</template>

<script>
    export default {
      props:{
          be_error: String
      },
      data: function(){
          return {
            pw_errors: [],
            pw_c_errors: [],
            password: null,
            password_confirm: null,
            pw_ok: null,
          }
      },
      methods: {
        checkPW: function (e) {
          this.pw_errors = [];
          this.pw_c_errors = [];
          this.pw_ok= null;

          if (!this.password) {
            this.pw_errors.push("Passwort erforderlicher.");
          }

          if (this.password && this.password.length < 6) {
            this.pw_errors.push("Mindestens 6 Zeichen.");
          }

          if (!this.password_confirm) {
            this.pw_c_errors.push('Bitte Passwort bestätigen.');
          }
            
          if (this.password_confirm && !this.passwordConfirmation(this.password, this.password_confirm )) {
            this.pw_c_errors.push('Passworteingaben unterscheiden sich.');
          }

          if (!this.pw_errors.length && !this.pw_c_errors.length) {
            this.pw_ok= true;
            return true;
          }

          e.preventDefault(); 
        }
        ,
        passwordConfirmation: function (pw,pw_c) {
          return (pw == pw_c);
        } 
      },
      mounted() {
           let self = this;

            this.$refs.password.addEventListener('keyup', function(ev) {
                self.checkPW(ev); // declared in your component methods
            });
            this.$refs.password_confirm.addEventListener('keyup', function(ev) {
                self.checkPW(ev); // declared in your component methods
            });
        console.log('Password Component mounted.')
      }
    }
</script>
