.verleih_status{
}
.verleih_status.active{
    font-weight:bold;
    font-size:18px;
}

.searchinput{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    font-weight: bold;
}
.searchinput::placeholder{
    color: #666;
    opacity: 1;
}

.top-buffer { margin-top:10px; }
.top-buffer-big { margin-top:40px; }
.menu_sep{ border-top: 1px dashed green; }
h3{ margin-top:0px; }
