body{
	background-color: #e2eef4;
}

.category_lbl.btn-info{
    color: #333;
    background-color: #bce2ee;
}

.category_lbl{
    border-radius: 0px 0px 5px 5px;
}

.card_title{
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    font-family: Calibri;
}

.well:hover{
	box-shadow:  0px 0px 4px #ddc;
	-webkit-box-shadow: 0px 0px 4px #ddc;
	-moz-box-shadow:  0px 0px 4px #ddc;
        border: solid 1px #ddd;
        background-color: #f5f5f5;
}

.well{
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(202deg, rgba(225,238,210,1) 0%, rgba(255,255,255,1) 57%);
}

.jumbotron{
	background-color: lightblue;
	box-shadow:  0px 0px 4px #ddc;
	-webkit-box-shadow: 0px 0px 4px #ddc;
	-moz-box-shadow:  0px 0px 4px #ddc;
}

.navbar{
	border-radius:0px;
}

.navbar-inverse .navbar-brand{
	font-weight:bold;
	color:violet;
}

.brandname{
	font-weight:bold;
	color:violet;
}
